%h2 #{taping.date}
    
%p= link_to 'Edit', edit_episode_taping_path(taping.episode, taping)
%p= link_to 'Delete', episode_taping_path(taping.episode, taping), method: :delete, confirm: "Are you sure you want to ba-lete this?"

%p= link_to "Back to #{taping.episode.title}", show_episode_path(taping.episode.show, taping.episode)