%h2 #{network.name} Network
%p= link_to "Network shows", network_shows_path(network)

- if network.shows.any?
  - network.shows.each do |show|
    %table
      %tr
        %th Name
        %th Description
        %th Host(s)
      %tr
        %td= link_to show.name, [network, show]
        %td= show.description
        %td= show.hosts.map(&:name).to_sentence


%p= link_to 'Add Show', new_network_show_path(network)
%p= link_to 'Back to Networks', networks_path