%h1 Listing episodes

- if episodes.any?
  %table
    %tr
      %th Name
      %th Description
      %th
      %th

    - episodes.each do |episode|
      %tr
        %td= link_to "#{episode.name}", [show, episode]
        %td="#{episode.description}"
        %td= link_to 'Edit', edit_show_episode_path(show, episode)
        %td= link_to 'Destroy', [show, episode], method: :delete, data: { confirm: 'Are you sure you want to ba-lete this?' }
- else
  %p You don't got no episodes! 

%p= link_to 'Add an episode', new_show_episode_path(show)
%p= link_to 'Back to #{show}', show