%h2 #{episode.title}

%h3 Taping
%p= episode.taping.try(:date) || link_to("Set a taping date", new_episode_taping_path(episode))

%h3 Description
%p= episode.description

%h3 Topics
%p= link_to 'Add Topic', new_episode_topic_path(episode)
%ul
  - episode.topics.each do |topic|
    %li= link_to topic.name, [topic.episode, topic]
    
%h3 Guests
%p= link_to 'Add Guest', new_episode_guest_path(episode)
%ul
  - episode.guests.each do |guest|
    %li= link_to guest.name, [guest.episode, guest]

%p= link_to 'Edit', edit_show_episode_path(episode.show, episode)
%p= link_to 'Delete', [episode.show, episode], method: :delete, confirm: "Are you sure you want to ba-lete this?"

%p= link_to "Back to #{episode.show.name}", episode.show